-bash
curl
htop
nano
zoneinfo-asia
softethervpn5-server
luci-i18n-base-zh-cn
luci-i18n-package-manager-zh-cn
luci-app-firewall
luci-i18n-firewall-zh-cn
luci-theme-argon
luci-app-ddns
luci-i18n-ddns-zh-cn
ddns-scripts_aliyun
luci-app-filemanager
luci-i18n-filemanager-zh-cn
luci-app-openclash
luci-app-socat
luci-i18n-socat-zh-cn
